{% load static %}
{% include 'navbardoctors.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"1e2c621d1a8bec53c01898d53869aa352","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <p>View Patient Records</p>
              </div>
              <div class="icon">
                <i class="fas fa-stethoscope"></i>
              </div>
              <a href="patientRecords" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <p>View Diagnosis</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="diagnosis" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">

                <p> View Lab Reports</p>
              </div>
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="viewLabReports" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>1</h3>

                <p> Active Diagnosis</p>
              </div>
              <div class="icon">
                <i class="fas fa-plus-square"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-9 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card bg-gradient-light">
                <div class="card-header border-0">
  
                  <h3 class="card-title">
                    <i class="far fa-calendar-alt"></i>
                   Today Appointments
                  </h3>
                  <!-- tools card -->
                  <div class="card-tools">
                    <!-- button with a dropdown -->
                    <form action="searchAppointments" method="get" class="d-flex">
                        <label for="start">Select date:</label>
                        <input type="date" name="start" value={{date}} min="2018-01-01" max="2022-12-31">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                  </div>
                  <!-- /. tools -->
                </div>
                <!-- /.card-header -->
            
               
                  <!--The calendar -->
                    <table id="data" class="table table-striped table-bordered compact" cellspacing="0" style="width:100%">
                        <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>appointment_id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Requested Date</th>
                            <th>Status</th>
                            <th>Add Diagnosis</th>
                            <th>Add Prescription</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for a in appDetails%}
                        <tr>
                            <td width="5%">{{a.patient_id}}</td>
                            <td width="2%">{{a.appointment_id}}</td>
                            <td width="10%">{{a.first_name}}</td>
                            <td width="10%">{{a.last_name}}</td>
                            <td width="5%">{{a.requested_date}}</td>
                            <td width="10%">{{a.status}}</td>  
                            <td width="5%">
                                <a href="/doctors/addDiagnosis/{{a.appointment_id}}">
                                <button class="btn btn-outline-success" type="submit">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                </a>
                            </td>
                            <td width="5%">
                                <a href="/doctors/addPrescription/{{a.appointment_id}}">
                                    <button class="btn btn-outline-success" type="submit">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    </a>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
        
                    <p> </p>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
           
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-3 connectedSortable">

            <!-- Map card -->
            <div class="card bg-gradient-primary">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-map-marker-alt mr-1"></i>
                  Visitors
                </h3>
                <!-- card tools -->
                <div class="card-tools">
                  <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <div class="card-body">
                <div id="world-map" style="height: 250px; width: 100%;"></div>
              </div>
              <!-- /.card-body-->
              <div class="card-footer bg-transparent">
                <div class="row">
                  <div class="col-4 text-center">
                    <div id="sparkline-1"></div>
                    <div class="text-white">Visitors</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-4 text-center">
                    <div id="sparkline-2"></div>
                    <div class="text-white">Online</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-4 text-center">
                    <div id="sparkline-3"></div>
                    <div class="text-white">Sales</div>
                  </div>
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


</body>
</html>
