{% include 'navbardoctors.html' %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>
{{appointmentForm.media}}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <h4>Enter Patient Id:</h4>
            <form action="searchDiagnosis" method="get" class="d-flex">
                <input name="query" type="text" placeholder="Search...">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </section>
</div>