{% include 'navbardoctors.html' %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>
{{appointmentForm.media}}

<div class="content-wrapper">
    <section class="content">
        <script type="text/javascript">
            (function(d, m){
                var kommunicateSettings = 
                    {"appId":"1e2c621d1a8bec53c01898d53869aa352","popupWidget":true,"automaticChatOpenOnNavigation":true};
                var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
                s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
                var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
                window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        </script>
        <div class="container-fluid">
            <form action="search1" method="get" class="d-flex">
                <h4>Enter Appointment Id:</h4>
                <input name="query" type="text" placeholder="appointment id">
                <!-- <h4>Enter Lab Test:</h4>
                <input name="query1" type="text" placeholder="lab test name"> -->

                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <fieldset>
            <br>
            <br>
            {%for a in labreportdetails%}
    <label aria-setsize="20">Lab Test Name</label>
    <textfield style=" min-width:25px; max-width:50%;min-height:50px;height:50%;width:50%;">{{a.lab_Tests}}</textfield>
    <br>
    <label>Lab Report</label>
    <textfield style=" min-width:25px; max-width:50%;min-height:50px;height:50%;width:50%;">{{a.lab_report}}</textfield>
    <br>
    <br>
    <br>
{%endfor%}
</fieldset>
        </div>
    </section>
</div>
