{% include 'navbarInsurance.html' %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>


<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            {% if messages %}
            <ul class="messages" style="padding:3px">
                {% for message in messages %}
                <p style="padding:3px;font-weight:600; font-size:13px" {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
                    {{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}


            <div class="tab-content">
                <div id="request" class="tab-pane fade in active">
                    <h3>Medical Insurance Claims</h3></br>
                    <table id="data" class="table table-striped table-bordered compact" cellspacing="0" style="width:100%">
                        <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Policy Name</th>
                            <th>Claim Amount</th>
                            <th>Claim Status</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                        {%for a in appDetails%}
                        <tr>
                            <td width="5%">{{a.patient_id}}</td>
                            <td width="10%">{{a.patient_firstname}}</td>
                            <td width="10%">{{a.patient_lastname}}</td>
                            <td width="10%">{{a.policy_name}}</td>
                            <td width="10%">{{a.claim_amt}}</td>
                            <td width="10%">{{a.claim_status}}</td> 
          
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
        

                </div>
              
            </div>
        </div>



</div>
</section>
</div>